body {
	padding-top: 60px;
}



.navbar-inner {
		  background-color: white; /* background color will be black for all browsers */
		  background-image: none;
		  background-repeat: no-repeat;
		  filter: none;
		}
		
		.logo {
			width: 240px;
			height: 30px;
			padding: 0px;
		}
		
		
		.pageHeader {
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
}

.mainMenu {
    border-bottom: 1px solid #888888;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    vertical-align: top;
}
.mainMenu, .mainContainer, .bottomMenu {
    font-size: 0.9em;
    width: 1000px;
}

/* Jag changes */
.container .row
{
	padding-top:20px;
}
.gradient {
    background-image: url("../images/Border.png");
    float: right;
    height: 40px;
    text-align: right;
    width: 77%;
}
#logo {
    float: left;
    height: 20px;
    padding: 1px 0 0;
}
.navbar .nav-collapse
{
	padding-left:22%;
	height:40px;
	
}
.banner
{
	 border-bottom: 1px solid;
    height: 40px;
    position: relative;
}
.navbar .nav > li > a {
    
    float: none;
    font-size: 0.9em;
    padding: 10px 8px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
.container {
	width:82%;
}
.menuElementRight {
    height: 40px;
    margin: auto;
    padding: 15px 5px 0 0;
    position: relative;
}
.menuElementRight {
    float:right;
}
.menuElementRight .navMenu {
    color: black;
    position: relative;
    white-space: nowrap;
}
.menuElementRight .gwt-Hyperlink a{
	text-decoration:none;
	padding-right:15px;
	color:black;
	font-size:small;
	font-family:Arial;
}

.projectTitle {
	float: right;
	margin: auto;
	padding: 4px;
	font-size: 130%;
	font-family: "Times New Roman", Georiga, Serif;
	font-style: italic;
	font-weight: bold;
	color: black;
	width: 99%;
	text-align: right;
	padding-top:1%;
}