<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ACR Discovery View</display-name>
	<welcome-file-list>
		<welcome-file>home</welcome-file>
		<welcome-file>index.html</welcome-file>

	</welcome-file-list>

	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>org.sead.acr.community.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Spaces</servlet-name>
		<servlet-class>org.sead.acr.community.Spaces</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VIVOProxy</servlet-name>
		<servlet-class>org.sead.acr.community.VIVOProxyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Spaces</servlet-name>
		<url-pattern>/spaces</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>VIVOProxy</servlet-name>
		<url-pattern>/vivo</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Manage</servlet-name>
		<servlet-class>org.sead.acr.community.Manage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Manage</servlet-name>
		<url-pattern>/exp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Projectspaces</servlet-name>
		<servlet-class>org.sead.acr.community.Projectspaces</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Projectspaces</servlet-name>
		<url-pattern>/projectspaces</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetProjectInfo</servlet-name>
		<servlet-class>org.sead.acr.community.GetProjectInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetProjectInfo</servlet-name>
		<url-pattern>/GetProjectInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetSystemInfo</servlet-name>
		<servlet-class>org.sead.acr.community.GetSystemInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetSystemInfo</servlet-name>
		<url-pattern>/GetSysInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Export</servlet-name>
		<servlet-class>org.sead.acr.community.Export</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Export</servlet-name>
		<url-pattern>/export</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>authredirect</servlet-name>
		<servlet-class>org.sead.acr.community.Oauth2Redirect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>authredirect</servlet-name>
		<url-pattern>/authredirect</url-pattern>
	</servlet-mapping>

</web-app>