<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="mimeTypeImages" name="Mime Type Images" schema="schema/mimeTypeImages.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="edu.illinois.ncsa.bard.ui.category"
            id="edu.illinois.ncsa.bard.ui.command.refresh"
            name="Refresh">
      </command>
      <category
            id="edu.illinois.ncsa.bard.ui.category"
            name="Bard">
      </category>
      <command
            categoryId="edu.illinois.ncsa.bard.ui.category"
            id="edu.illinois.ncsa.bard.ui.command.annotate"
            name="Add Annotation">
      </command>
      <command
            categoryId="edu.illinois.ncsa.bard.ui.category"
            id="edu.illinois.ncsa.bard.ui.command.tag"
            name="Add Tag">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="edu.illinois.ncsa.bard.ui.command.refresh"
            icon="icons/common/refresh.png">
      </image>
      <image
            commandId="edu.illinois.ncsa.bard.ui.command.annotate"
            icon="icons/annotations/sticky_note__plus.png">
      </image>
      <image
            commandId="edu.illinois.ncsa.bard.ui.command.tag"
            icon="icons/tags/tag__plus.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.illinois.ncsa.bard.ui.handlers.RefreshRefreshableHandler"
            commandId="edu.illinois.ncsa.bard.ui.command.refresh">
      </handler>
      <handler
            class="edu.illinois.ncsa.bard.ui.handlers.AddAnnotationHandler"
            commandId="edu.illinois.ncsa.bard.ui.command.annotate">
      </handler>
      <handler
            class="edu.illinois.ncsa.bard.ui.handlers.AddTagHandler"
            commandId="edu.illinois.ncsa.bard.ui.command.tag">
      </handler>
      <handler
            class="edu.illinois.ncsa.bard.ui.handlers.DeleteTagHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="edu.illinois.ncsa.bard.ui.definition.tagSelected">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edu.illinois.ncsa.bard.ui.views.RdfXmlView">
         <command
               commandId="edu.illinois.ncsa.bard.ui.command.refresh"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="edu.illinois.ncsa.bard.ui.command.annotate"
               label="Add Annotation"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="edu.illinois.ncsa.bard.ui.definition.isSubjectSource">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="edu.illinois.ncsa.bard.ui.command.tag"
               label="Add Tag"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="edu.illinois.ncsa.bard.ui.definition.isSubjectSource">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="edu.illinois.ncsa.bard.ui.definition.tagSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="edu.illinois.ncsa.bard.ui.category"
            name="Bard">
      </category>
      <view
            category="edu.illinois.ncsa.bard.ui.category"
            class="edu.illinois.ncsa.bard.ui.views.RdfXmlView"
            icon="icons/common/xml_view.png"
            id="edu.illinois.ncsa.bard.ui.views.RdfXmlView"
            name="RDF XML"
            restorable="true">
      </view>
      <view
            category="edu.illinois.ncsa.bard.ui.category"
            class="edu.illinois.ncsa.bard.ui.views.AnnotationView"
            icon="icons/annotations/sticky_notes.png"
            id="edu.illinois.ncsa.bard.ui.views.AnnotationView"
            name="Annotations"
            restorable="true">
      </view>
      <view
            category="edu.illinois.ncsa.bard.ui.category"
            class="edu.illinois.ncsa.bard.ui.views.TagView"
            icon="icons/tags/tags.png"
            id="edu.illinois.ncsa.bard.ui.views.TagView"
            name="Tags"
            restorable="true">
      </view>
   </extension>
   <extension
         point="edu.illinois.ncsa.bard.ui.mimeTypeImages">
      <mimeTypeImage
            image="icons/common/unknown.png"
            mimeType="unk">
      </mimeTypeImage>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="edu.illinois.ncsa.bard.ui.definition.isSubjectSource">
         <iterate>
            <or>
               <adapt
                     type="edu.illinois.ncsa.bard.ISubjectSource">
               </adapt>
               <instanceof
                     value="edu.illinois.ncsa.bard.ISubjectSource">
               </instanceof>
            </or>
         </iterate>
      </definition>
      <definition
            id="edu.illinois.ncsa.bard.ui.definition.tagSelected">
         <iterate>
            <or>
               <instanceof
                     value="edu.uiuc.ncsa.cet.bean.TagBean">
               </instanceof>
               <adapt
                     type="edu.uiuc.ncsa.cet.bean.TagBean">
               </adapt>
            </or>
         </iterate>
      </definition>
   </extension>

</plugin>
