<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>projectsummary</display-name>
  <welcome-file-list>
    <welcome-file>Summary</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Summary</servlet-name>
    <servlet-class>org.rpi.nced.servlets.Summary</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Summary</servlet-name>
    <url-pattern>/Summary</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Contents</servlet-name>
    <servlet-class>org.rpi.nced.servlets.Contents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contents</servlet-name>
    <url-pattern>/Contents</url-pattern>
  </servlet-mapping>
  
</web-app>