
.logo {
	width: 240px;
	height: 30px;
	padding: 0px;
}

.gradient {
	background-image: url("../login_images/Border.png");
	float: right;
	height: 40px;
	text-align: right;
	width: 77%;
}

#logo {
	float: left;
	height: 20px;
	padding: 1px 0 0;
}

#sead-panel {
	border-bottom: 1px solid;
border-color:#000000;
background-color:#EEEEEE;
min-height:100px;
}

#sead-panel .table {
padding:0px;
}

#sead-panel th {
background-color:#0b5ca3;
vertical-align:middle;
}

#dataoption {
margin-bottom:3px;
}

#multimessage {
margin-bottom:5px;
}

#sead-panel .radio {
margin-bottom:0px;
}

#sead-panel .sead-space {
background-color: #DDDDDD;
height:32px;
vertical-align:middle;
}


