.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.dot {
  fill: steelblue;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  padding: 5px;
  font: 12px sans-serif;
  color: white;
  background: steelblue;
  border: 0px;
  border-color: black;
  border-radius: 8px;
  pointer-events: none;
}

#d3TimeseriesVis {
  margin:0 auto; 
  width:600px; 
  height:500px; 
  padding: 10px;
  border: solid 1px #A8A8A8;
}