<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>
       org.sead.acr.common.auth.AuthFilter
    </filter-class>
     <init-param>
      <param-name>LoginPage</param-name>
      <!-- Never triggered - only ajax calls are being protected -->
      <param-value>/#login</param-value>
    </init-param>
    <init-param>
      <param-name>PropertiesFileName</param-name>
      <param-value>/geobrowse.properties</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
	<servlet-name>wmsProxyImpl</servlet-name>
	<servlet-name>mediciProxyImpl</servlet-name>
  </filter-mapping>
  
	<!-- Servlets -->	
	<servlet>
		<servlet-name>wmsProxyImpl</servlet-name>
		<servlet-class>edu.illinois.ncsa.medici.geowebapp.server.WmsProxyServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>wmsProxyImpl</servlet-name>
		<url-pattern>/geobrowse/wmsProxy</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mediciProxyImpl</servlet-name>
		<servlet-class>edu.illinois.ncsa.medici.geowebapp.server.MediciProxyServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mediciProxyImpl</servlet-name>
		<url-pattern>/geobrowse/mediciProxy</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AuthenticationServiceImpl</servlet-name>
		<servlet-class>edu.illinois.ncsa.medici.geowebapp.server.AuthenticationServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationServiceImpl</servlet-name>
		<url-pattern>/geobrowse/Authenticator</url-pattern>
	</servlet-mapping>
	
	

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>geobrowse.html</welcome-file>
	</welcome-file-list>

</web-app>