body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin: 0px;
	padding: 0px;
	background-color:white;	
	overflow:hidden; 
}

a, a:link, a:visited, a:hover, a:active {
	color: black;
	text-decoration: none;
	border: 0px;
}

.mainMenu, .mainContainer, .bottomMenu {
	font-size: .8em;
	border: 1px solid #888888;
}

.homePageLink {
	color: blue !important;	
}

.permissionMultiAnchor { 
	padding-left: 25px;	
}

.permissionPanel {
	text-align: center;
	position:absolute; 
	top:50%; 
	margin-top:-3em ;
	
}

/* 													 */
/* 				Previews          					 */

.previewPanel {
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: auto;
}

.textboxPreview {
	text-align: left;
	overflow:auto; 
	color: #505050; 
}

.Java3DPreview {
}

.seadragon {
	display: block;
	margin: 0px 0px 0px 0px;
	background-color: white;
	color: black;
}

.webGL3DPreview { 
	
}

.anchorTabs {
	margin-top: 0px;
}

.tabPreview {
	border-right: 1px solid #000000;
}

.previewActionLink {
	display: block;
	padding: 3px 5px 0px 5px;
	background-color: #e4e8f4;
	height: 21px;
	text-decoration: none;
	color: black;
	cursor: pointer;
	cursor: hand;
}

.previewActionLink:hover, .previewActionLink:visited:hover {
	color: #000000;
	background-color: #86a0bf;
}

.deadlink {
	background-color: #c7ccdf;
	color: black !important;
	text-decoration: none !important;
	cursor: default !important;
}

.multiAnchor {
	padding-left: 5px;
}

.hidden {
	display: none;
}

.centered {
	text-align: center;
	margin: 5px auto 5px auto;
}

.fileTitle { 
	font-size: 1.1em;
	margin-left: 3px;
  	color: black;
}

.datasetRightColSection {
	margin: 5px 5px 0px 5px;
}

.datasetRightColHeading {
	margin-top: 0px;
	margin-bottom: 3px;
	font-size: 1.4em;
}

.datasetRightColText {
	padding-bottom: 3px;
}

/* 													 */
/* 				Sides and Buttons					 */

.datasetActions {
	height: 24px;
	border-bottom: 1px solid #888888;
	background: url('images/bar_inv.gif');
}

.bottomRow {
	background: url('images/bar.gif');
	height: 24px;
	border-top: 1px solid #888888;
}

.bottomLogo {
	border: 0px;
	float: right;
	background: url('images/bar.gif');
}

.bottomLogo:hover {
	height: 24px;
	background: url('images/bar_hover.gif');
}