html {
	overflow-y: scroll;
}

body {
	font-family: "lato", Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #222;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: white;
}

pre {
	font-family: "courier new", courier, monospace;
	font-size: 0.9em;
	white-space: pre-wrap; /* CSS2.1 compliant */
	white-space: -moz-pre-wrap; /* Mozilla-based browsers */
	white-space: o-pre-wrap; /* Opera 7+ */
}

.mainMenu, .mainContainer, .bottomMenu {
	/*  font-size: 0.9em; */
	width: 1200px !important;
}

/* ----------------------------------------------------------------------
 * Make it all look the same
 * ---------------------------------------------------------------------- */
table .treetable tbody tr td:nth-child (2){
	width: 100px !important;
}

table.treetable span {
	word-break: break-all;
	word-wrap: break-word;
}

table td, select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
}

table td {
	line-height: 18px;
}

.gwt-Button {
	font-size: 0.9em;
	margin-left: 1px;
	padding: 3px 9px;
	text-decoration: none;
	font-size: small;
	cursor: pointer;
	cursor: hand;
	color: #fff;
	background: none;
	border: 0px outset #ccc;
	background-color: #f3822a;
}

.gwt-button:hover {
	background-color: #666;
	color: #f3822a;
	border: none;
}

.gwt-Button[disabled]:hover {
	border: 0px outset #CCC;
}

/* ----------------------------------------------------------------------
 * Helper styles
 * ---------------------------------------------------------------------- */
.anchorBlock {
	display: block;
}

.imageNoBorder {
	border: 0px;
}

.multiAnchor {
	padding-left: 5px;
}

.tableCenter {
	margin-left: auto;
	margin-right: auto;
	width: 98%;
}

.arrowCursor {
	cursor: default;
}

.deadLink {
	cursor: default;
	color: black;
	text-decoration: none;
}

/* an IE-friendly inline-block style */
.inlineBlock {
	display: inline-block; *
	display: inline;
	zoom: 1;
}

/* ----------------------------------------------------------------------
 * Overriding GWT styles
 * ---------------------------------------------------------------------- */
.gwt-DisclosurePanel-closed {
	background-color: #e9e9e9;
}

.gwt-DisclosurePanel-open .header {
	background-color: #e9e9e9;
}

.gwt-DisclosurePanel-open textarea {
	font-size: 12px;
	width: 85%;
	border: 1px solid #e9e9e9;
}

.gwt-TabPanel {
	margin-top: 4px;
	margin-left: 10px;
}

.gwt-TabBar .gwt-TabBarFirst {
	width: 10px;
}

.gwt-TabPanelBottom {
	background-color: white;
	border: none;
	overflow: hidden;
	padding: 15px;
	min-height: 500px;
}

.gwt-TabBar {
	padding-top: 2px;
	border-bottom: 1px solid #888888;
	background: white;
	color: #444 !important;
}

.gwt-TabBar .gwt-TabBarItem {
	padding: 4px;
	cursor: pointer;
	background: white;
	border: 1px solid #888888;
	margin-right: 2px;
	font-weight: normal;
	margin-bottom: -1px;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	font-weight: bold;
	cursor: default;
	border-bottom: 1px solid white;
}

/* ----------------------------------------------------------------------
 * Links
 * ---------------------------------------------------------------------- */
a, a:link, a:hover, a:visited, a:active {
	color: #0b5ca3;
	text-decoration: none !important;
}

a:hover {
	color: #f3822a !important;
}

.deadlink {
	color: black !important;
	text-decoration: none !important;
}

/* ----------------------------------------------------------------------
 * Menu Bar
 * ---------------------------------------------------------------------- */
.mainMenu {
	height: 50px;
	margin: 0px auto 0px auto;
	padding: 0px;
	position: relative;
	vertical-align: top;
	z-index: -1;
}

.menuElementLeft {
	height: 40px;
	width: 1200px;
	padding: 15px 5px 0px 0px;
	position: relative;
	vertical-align: middle;
}

.menuElementRight {
	height: 40px;
	font-size: 0.8em;
	padding: 0px 9px 0px 0px;
	position: relative;
	vertical-align: middle;
	margin: auto;
}

#logo {
	float: left;
	height: 120px;
	padding: 1px 0px 0px;
}

#logo img {
	width: 240px;
	height: 120px;
}

#loginMenu {
	background-color: #F0F0F0;
}

.gwt-DisclosurePanel {
	width: 410px;
	color: #222;
}

.loginForm .gwt-DisclosurePanel, .signupForm .gwt-DisclosurePanel {
	display: block;
	margin: auto;
}

.signUp .gwt-DisclosurePanel {
	width: 230px;
	display: block;
	margin: auto;
}

.gwt-DisclosurePanel-open {
	width: 410px;
	font-style: normal;
	font-weight: normal;
}

#loginMenu .gwt-DisclosurePanel-open {
	background-color: #e9e9e9;
}

#gradient {
	float: right;
	height: 120px;
	width: 80%;
	background-image: url('images/Border.png');
	text-align: right;
}

.headerTitle, .headerTitle a:link, .headerTitle a:visited {
	margin: auto;
	padding: 6px;
	font-size: 1.1em;
	font-family: "Times New Roman", Georiga, Serif;
	font-style: italic;
	font-weight: bold;
	color: black;
	width: 99%;
	text-align: right;
}

.menuElementLeft {
	float: left;
	margin-top: -10px;
	width: 1000px;
}

.menuElementRight {
	float: right;
}

.navMenu {
	color: white;
	font: 16px "Raleway";
	position: relative;
	white-space: nowrap;
	height: 100%;
	width: 1000px;
}

.navMenuLink, .navMenuLink a:link, .navMenuLink a:visited {
	color: white !important;
	margin: 0px 5px;
	height: 100%
}

.navMenuLink.gwt-Anchor {
	margin: 0px 10px;
}

.searchMenu {
	position: relative;
	float: right !important;
	padding: 5px;
}

.searchBox {
	border: 0px solid lightgray;
	width: 80px !important;
}

.hitslabel {
	font-size: 32px;
	color: #f3822a;
	margin-left: -12px;
}

.search-hits .popupContent {
	overflow: auto;
	max-height: 160px;
}

.dynamicTableSearchResults>div {
	width: 100px;
	max-height: 125px;
}

.dynamicTableListInformation tr:nth-child (4) .gwt-Label {
	height: 75px;
}

/* ----------------------------------------------------------------------
 * Footer
 * ---------------------------------------------------------------------- */
.bottomMenu {
	border-top: #888888 solid 1px;
	margin: 0px auto 0px auto;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
	color: #888888;
	font-size: 0.9em;
}

.bottomMenu a:link, .bottomMenu a:visited {
	color: #888888;
}

/* ----------------------------------------------------------------------
 * Main Page
 * ---------------------------------------------------------------------- */
.mainContainer {
	text-align: center;
	minHeight: 600px;
	margin: 10px auto 20px auto;
	padding: 0px;
}

.imageOverlay {
	position: absolute;
	background-repeat: no-repeat;
	top: -4px;
	left: 189px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.imageOverlayList {
	position: absolute;
	background-repeat: no-repeat;
	top: 80px;
	left: 95px;
	width: 23px;
	height: 23px;
	cursor: pointer;
	cursor: hand;
}

.imageOverlayPanel {
	position: relative;
}

.imageThumbnail {
	position: relative;
	height: 200px !important;
	border: none;
}

.imageThumbnailBordered {
	position: relative;
	height: 200px;
	border: 1px solid #A8A8A8;
}

.thumbnail {
	position: relative;
	width: 200px;
	display: block;
	cursor: pointer;
	cursor: hand;
	margin: 5px;
	margin-left: 0px;
}

.pendingSmall {
	background: url(images/preview-100.gif);
}

.pendingLarge {
	background: url(images/preview-500.gif);
}

#abouttop.row-fluid {
	color: #444;
	font-size: 14px;
	line-height: 18px;
}
/* ----------------------------------------------------------------------
 * Dataset Page Left Side
 * ---------------------------------------------------------------------- */
.datasetMainContainerLeftColumn {
	float: left;
	text-align: left;
	width: 65%
}

.textboxPreview {
	text-align: left;
	overflow: auto;
	margin: 0 auto;
	width: 600px;
	height: 500px;
	padding: 5 5 5 5;
	border: solid 1px #A8A8A8;
	font: 0.8em Courier, sans-serif;
	color: #505050;
}

.tablePreview {
	overflow-x: scroll;
	overflow-y: scroll;
	max-width: 600px;
	max-height: 500px;
	text-align: center;
	border: solid 1px #A8A8A8;
	margin: 0 auto;
	padding: 5 5 5 5;
	font: 0.8em Courier, sans-serif;
}

.Java3DPreview {
	margin: 0 auto;
	width: 480px;
	height: 360px;
	border: solid 1px #000;
	border-color: #A8A8A8;
}

/* ----------------------------------------------------------------------
 * Dataset Page Right Side
 * ---------------------------------------------------------------------- */
.datasetMainContainerRightColumn, .datasetRightColHeading,
	.datasetRightColSection {
	text-align: left;
	padding: 0px;
}

.datasetMainContainerRightColumn {
	width: 30%;
	overflow: hidden\9;
	float: right;
	margin: 30px 0px 0px 0px;
}

.datasetRightColSection {
	margin: 20px 5px 10px 5px;
	font-size: 14px;
	color: #444;
	line-height: 18px;
}

.datasetRightColHeading {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 1.5em;
}

.datasetRightColSection .gwt-Anchor {
	padding-left: 2px;
	padding-right: 10px;
}

.datasetRightColText {
	vertical-align: middle;
}

.datasetRightColListbox {
	font-size: 0.9em;
}

.datasetRightColSection .gwt-DisclosurePanel {
	width: 100%;
}
/* ----------------------------------------------------------------------
 * Rest of styles
 * ---------------------------------------------------------------------- */
.redBorder {
	border: 1px solid red;
}

.blueBorder {
	border: 1px solid blue;
}

.background {
	/**background-color: #E3E3E3;**/
	
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.relativePosition {
	position: relative;
}

.clearBoth {
	clear: both;
	position: relative;
}

.inline {
	display: inline;
}

.pageHeader {
	/*  background: #002B55; */ /*background: lightgray;*/
	padding: 0px;
	margin: 0px;
	/* border-bottom: #888888 solid 1px; */
	position: relative;
	height: auto;
}

.toolbar {
	width: 975px;
	background-color: #069;
	margin: 0px auto 0px auto;
	padding: 0px;
	text-align: left;
}

.breadcrumb {
	display: none;
	width: 975px;
	margin: 5px auto 0px auto;
	text-align: left;
	color: gray;
	padding-left: 40px;
	position: relative;
}

.gwt-DisclosurePanel-open .header {
	background-color: white;
	color: #222;
}

.gwt-DisclosurePanel .header {
	color: #222;
	background: #e9e9e9;
}

.loginForm .header, .signupForm .header {
	width: 410px;
}

.gwt-DisclosurePanel .content {
	border-left: none;
	padding: 4px 0 4px 8px;
}

.datasetDisclosurePanel {
	width: 100%;
	margin: 0px 0px 20px 0px;
}

.userSpecifiedBody {
	width: 99%;
	margin: 0px;
	padding: 0px;
}

.addMetadata {
	width: 600px;
	padding: 5px;
	margin: 10px 0px 10px 0px;
}

.addMetadataListBox {
	width: 100%;
}

.metadataPlainField {
	width: 95%;
	border-right: 1px dashed #A8A8A8;
	border-bottom: 1px dashed #A8A8A8;
	border-left: 1px dashed #A8A8A8;
	padding: 10px;
}

.metadataAppliedPanel div {
	float: left;
	margin: 5px;
}

.metadataAppliedPanel span {
	float: left;
	margin: 5px;
}

.metadataTable {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}

.metadataTableAction {
	margin-right: 5px;
}

.metadataTableHeader {
	border-bottom: 1px solid black;
	margin-top: 20px;
}

.metadataTableCell {
	padding: 5px;
}

.metadataTableCell>.gwt-Label {
	word-break: break-all;
}

.metadataTable .gwt-Hyperlink {
	display: inline;
	padding-left: 10px;
	margin-right: 5px;
}

.metadataTableCell .gwt-Anchor {
	padding-left: 0px;
}

.metadataTitle {
	padding: 5px;
	background-color: #EBEBFF;
}

.metadataTableEvenRow {
	background-color: #F2F2F2;
}

.metadataTableOddRow {
	
}

.noMetadata {
	margin: 10px 0px 0px 10px;
}

.metadataTreeScrollPanel {
	margin: 5px;
	width: 500px;
	border: 1px solid #A8A8A8;
}

.labeledListBoxTitle {
	margin: 5px;
}

.labeledListBoxPulldown {
	margin: 5px;
}

.smallText {
	font-size: 0.9em;
}

#uploadcolumns .smallText {
	margin-top: 5px;
	font-size: 14px;
	line-height: 18px;
	color: #444;
}

.smallerItalicText {
	font-size: 0.8em;
	font-style: italic;
	margin-left: 8px;
}

.tooltip {
	color: white;
	font-size: 0.9em;
}

.uploadMainPanel {
	width: 100%;
	padding: 20px;
}

.uploadStatusColumn {
	padding: 15px;
}

.dataset_info>div {
	display: inline-flex;
}

.dataset_info {
	width: 200px;
}

.dataset_info>div>div:nth-child(even) {
	width: 150px;
	margin-left: 10px;
}

.dataset_info
>
div










:nth-child





 





(1)>
div










:nth-child





 





(1)
{
height










:





 





18
px










;
}
.dataset_info>div:nth-child (1)>table {
	margin-left: 10px;
}

.dataset_info>div:nth-child (1)>table .gwt-Label {
	word-break: break-all;
	max-width: 118px;
}

.dataset_info {
	font-size: 14px;
	line-height: 18px;
	margin-top: 40px;
	padding-left: 10px;
}

#uploadstatustable {
	width: 600px;
}

.uploading {
	width: 575px;
	min-height: 150px;
}

.uploading-started .gwt-Label {
	width: 220px;
	margin-left: 0px;
	margin-right: 0px;
	word-break: break-all;
}

.uploading-started .progressBar {
	width: 150px;
}

.uploading .tagsLinks .gwt-Hyperlink {
	width: 50px;
	margin-right: 0px;
	word-break: break-all;
}

.uploading .tagsLinks .gwt-Anchor {
	margin-left: -110px;
}

.uploading .tagsLinks .deleteLink {
	margin-left: 10px;
}

.uploading input.gwt-SuggestBox {
	padding: 2px;
	margin-left: 0px;
	width: 80px;
}

.uploading .datasetRightColSection {
	width: 110px;
}

.uploading .tagsLinks { 130px;
	
}

.uploading .imageThumbnail .gwt-Image {
	height: 150px;
	width: 150px;
}

.centered {
	text-align: center;
	margin: 5px auto 5px auto;
}

.datasetsPager {
	width: 700px;
	margin: 0px auto 0px auto;
	border: 1px solid #CCC;
}

.pagingWidget {
	margin: 5px;
}

.pagingList {
	padding: 0px;
	margin: 0px 10px 0px 10px;
}

.pagingButton {
	font-size: 0.9em;
	vertical-align: middle;
}

.pagingButton:hover {
	cursor: pointer;
	cursor: hand;
}

.pageAnchor {
	/*border: 1px solid blue;*/ /*font-size: 0.9em;*/
	margin: 3px;
}

.thisPageAnchor {
	margin: 3px;
	color: black;
	/*font-size: 0.9em;*/
	font-weight: bold;
	text-decoration: none;
}

.page {
	float: none;
	width: 96%;
	text-align: left;
	min-Height: 500px;
	margin: 0px;
	padding: 0 20px;
}

.homePageWidget {
	float: left;
	/**border: 1px #888888 solid;**/
	margin: 20px 100px 100px 20px;
	padding: 5px 10px 20px 10px;
}

.homePageWidgetTitle {
	font-size: 1.4em;
}

.homePageWidgetRow {
	padding-left: 10px;
}

.homeButton {
	padding-left: 10px;
	width: 200px;
}

.homePending {
	margin-left: 75px;
}

#uploadcolumns {
	display: flex;
}

#uploadLeft {
	width: 500px;
	margin: 10px auto 10px 10px;
	padding-bottom: 30px;
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	color: #444;
}

#uploadLeft #files {
	font-size: 14px;
	line-height: 18px;
	width: 220px;
}

#uploadLeft form {
	margin-top: 20px;
}

#uploadLeft .gwt-TextBox {
	width: 75%;
}

#html5form {
	display: flex;
	flex-direction: row;
}

#html5form .gwt-HTML, #html5form .gwt-Label {
	margin-top: auto;
	margin-bottom: auto;
}

#bmlet .gwt-Anchor {
	margin: 10px 10px 20px -10px;
	font-size: 18px;
	font-weight: bold;
	word-break: break-all;
	display: inline-block;
}

#uploadRight {
	width: 575px;
	margin: 10px auto 10px auto;
	padding-bottom: 30px;
	float: right;
	display: inline-block;
}

#uploadstatustable {
	overflow: auto;
	max-height: 450px;
	background-color: white;
	margin-top: 20px;
}

.uploadStatus {
	overflow: auto;
}

.uploading {
	display: flex;
}

.uploading .thumbnail, .uploading .pendingSmall {
	margin: auto;
	height: 150px !important;
	width: 150px;
	cursor: pointer;
}

.uploading>table {
	width: 250px;
}

.uploading-started>table {
	width: 200px;
}

.uploading table gwt-Label {
	word-break: break-all;
}

.uploading div, .uploading a, .uploading span, .uploading table {
	margin: auto;
	float: left;
}

.uploading span.gwt-CheckBox {
	margin-top: 65px;
}

.uploading-hidden {
	display: hide;
}

.uploading table tr:first-child td:nth-child (2) .gwt-Label {
	margin-left: -30px;
	margin-top: 3px;
}

.dragAndDrop {
	width: 152px;
	border: 1px dashed #002B55;
	padding: 1px;
	cursor: pointer;
	font-size: 0.9em;
}

.dndHTML5 {
	width: 152px;
	border: 2px dashed #002B55;
	padding: 1px;
	font-size: 0.9em;
}

.dndHTML5Container {
	width: 152px;
}

.twoColumnLayout {
	width: 100%;
}

.twoColumnLayout-leftCol {
	position: relative;
	float: left;
	width: 600px;
}

.twoColumnLayout-rightCol {
	position: relative;
	float: right;
	width: 300px;
}

.userManagementMain {
	float: left;
	text-align: left;
	width: 100%;
	margin-left: -20px;
}

.userManagementMain .gwt-DisclosurePanel-closed, .userManagementMain .gwt-DisclosurePanel-open
	{
	width: 100%;
	margin-bottom: 20px;
}

.userManagementMain input.gwt-TextBox {
	width: 40%;
}

.usersTable {
	width: 100%;
	min-with: 800px;
	margin: 10px auto 75px auto;
}

.usersTable .gwt-ListBox {
	width: 130px;
}

.usersTableNameColumn {
	width: 175px;
	min-width: 175px;
}

.usersTableEmailColumn {
	width: 200px;
	min-width: 200px;
}

.roleColumn {
	width: 50px;
	min-width: 50px;
}

.textBoxWatermark {
	font-style: italic;
	color: gray;
}

.pageForm {
	margin: 20px auto 100px auto;
}

.feedbackMessage {
	width: 50%;
	margin: 5px auto 5px auto;
	padding: 5px;
	background: #FFFCCA;
}

.loginForm {
	width: 99%;
	margin: auto;
	text-align: justify;
}

.loginForm button {
	width: 85%;
}

.-add-collection input.gwt-TextBox {
	width: 200px;
}

.-add-collection {
	width: 98%;
	margin: auto;
}

input.gwt-TextBox, .gwt-PasswordTextBox {
	width: 85%;
}

input.gwt-SuggestBox {
	padding: 2px;
	margin-left: 10px;
	width: 120px;
}

.loginError {
	padding: 5px;
	background: #FFFCCA;
}

.signupForm {
	margin: auto;
	width: 99%;
	text-align: justify;
}

.titlePanel {
	width: 100%;
	padding: 10px;
	border-collapse: separate !important;
}

.pageTitle {
	font-size: 24px;
	line-height: 28px;
	color: #222;
	border-bottom: 2px solid #f3822a;
	padding-bottom: 5px;
}

#xmlbody pre {
	background-color: #f5f5f5 !important;
	font-size: 14px;
	color: #444;
	border: none;
	font-family: "lato";
	padding: 0px;
	line-height: 18px;
	width: 80%;
	margin-left: 60px;
	margin-top: -18px;
}

#abouttop .well {
	border: none !important;
	-webkit-border-radius: 0px;
	background-color: #fff;
	-moz-border-radius: 0px;
	-webkit-border-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-top: 10px;
	margin-right: 40px;
	padding: 0 !important;
}

#abouttop .fixed-height-col {
	height: auto;
}

.sead-scope a {
	color: #0b5ca3 !important;
}

.rssIcon {
	width: 1em;
}

.clearFloat {
	clear: both;
}

.borderDebug {
	border: 1px solid red;
}

.borderDebug div {
	border: 1px solid red;
}

.pencilIcon {
	cursor: hand;
	cursor: pointer;
}

.titleLabel {
	text-align: left;
	font-size: 1.5em;
	color: black;
	margin: 20px;
}

.datasetTable {
	width: 700px;
	/**border: #CCC solid 1px;**/
	vertical-align: top;
	margin: 20px auto 20px auto;
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

.datasetTable .topRow {
	font-weight: bold;
	margin: 0px;
	padding: 8px;
	background: #FFF url(images/sprites-t1.gif) repeat-x 0px -545px;
	height: 30px;
	text-align: center;
}

.datasetTable .cell {
	margin: 0px;
	padding: 8px;
	border-top: #CCC solid 1px;
	text-align: center;
}

.datasetTable .leftCell {
	width: 40%;
	margin: 0px;
	padding: 8px;
	border-top: #CCC solid 1px;
	text-align: center;
}

.datasetTable .rightCell {
	margin: 0px;
	padding: 8px;
	border-top: #CCC solid 1px;
	text-align: left;
}

.datasetTable .evenRow {
	color: black;
	background-color: #F6F9ED;
	height: 50px;
}

.datasetTable .oddRow {
	color: black;
	height: 50px;
}

.alignRight {
	position: relative;
	float: right;
}

div.gwt-Label.smallerItalicText.alignRight {
	margin-right: 8px;
}

.datasetSocialPanel {
	width: 100px;
}

.gallery {
	width: 350px;
	padding: 10px;
	margin: 5px auto 5px auto;
	border: 1px solid gray;
}

.galleryPager {
	margin: 5px auto 0px auto;
}

.galleryImages div {
	padding: 5px;
}

#addsub {
	background-color: #f3822a;
	max-width: 175px;
	padding: 5px 5px 5px 10px;
	color: white;
	margin-top: 53px;
	margin-bottom: 5px;
}

#addsub:hover {
	background-color: black;
	color: #f3822a;
}

#addsub>a {
	color: white;
}

.collectionImageCollage {
	margin: 2px 0 0 2px;
}

.collectionInfo {
	text-align: left;
	margin-left: 20px;
}

#collright {
	float: right;
}

.tagsView {
	width: 100%;
	padding: 0px;
	margin: 20px 5px 20px 5px;
}

.tagsHeading {
	width: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
	font-size: 1.5em;
}

.tagsLinks {
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 0px;
	width: 100%;
	margin-left: -2px;
}

.tag {
	padding-left: 0px;
}

.tagsButton {
	margin: 0px;
	padding: 0px;
}

.addTags {
	margin-top: 10px auto 10px auto;
	padding: 0px;
}

.addTagsLink {
	margin-left: 5px;
}

.licenseIndent {
	margin-left: 20px;
}

.datasetTitle {
	font-size: 1.5em;
	color: #222;
	text-align: left;
	border-bottom: 2px solid #f3822a;
	padding-bottom: 5px;
	word-break: break-all;
}

.datasetTitleIcon {
	margin-left: 20px;
}

.pencilIcon {
	/* not just for dataset widget, so no extra padding */
	margin-left: 10px;
	margin-top: 1px;
	width: 16px;
}

.datasetRightColText .pencilIcon {
	width: 16px;
}

.datasetMainContainer {
	position: relative;
	width: 96%;
	padding: 10px;
	margin: auto;
}

.tagsLinks .gwt-Anchor {
	margin-left: -178px;
}

.tagsLinks .gwt-Hyperlink {
	width: 140px;
}

.previewPanel {
	width: 98%;
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: auto;
}

.previewPanel .gwt-Image {
	/*width:100%;*/
	height: auto !important;
}

.gwt-Frame {
	/*width:100% !important;*/
	
}

.actionLink {
	margin: 10px;
}

.imagePreviewPanel {
	width: 500px;
	overflow: auto;
	margin: 30px;
	border: 1px solid #888888;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.imagePreviewNoOverflow {
	display: block;
	margin: 5px auto 5px auto;
	vertical-align: middle;
	border: 1px solid #888888;
}

.imagePreviewShortWidth {
	height: auto;
}

.imagePreviewShortHeight {
	width: auto;
}

.imagePreview {
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.metadataPreview {
	width: 100%;
	margin: 20px 0px 20px 0px;
}

.metadataEntry {
	vertical-align: middle;
	text-align: left;
	padding: 5px;
}

.downloadButton {
	vertical-align: bottom;
}

.datasetActions {
	margin: 0px;
	padding: 10px 0px 20px 0px;
	text-align: center;
	border: none;
}

.datasetActionLink {
	margin: 10px;
}

.previewActionLink {
	margin: 10px;
	cursor: pointer;
	cursor: hand;
}

.commentsView {
	height: auto;
	clear: both;
	padding: 20px;
}

.confirmDialog {
	width: 275px;
}

.confirmDialogButton {
	width: 75px;
}

.confirmDialogButtonNo {
	width: 75px;
	margin-left: 15px;
}

.addToCollectionDialog {
	text-align: center;
}

.addToCollectionDialog div {
	margin: 5px;
	padding: 5px;
}

.border {
	border: 1px solid;
}

.seadragon {
	display: block;
	margin: 5px auto 5px auto;
	vertical-align: middle;
	border: 1px solid #888888;
	width: 600px;
	height: 400px;
	background-color: white;
	color: black;
}

.viewer {
	/*vertical-align: middle;*/
	border: 1px solid #888888;
}

.webGL3DPreview {
	text-align: center;
	margin: 0px auto 0px auto;
}

.anchorButton {
	padding: 3px;
}

/*================= Annotations / Comments ============== */
.commentsHeading {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
	font-size: 1.5em;
}

.annotationMainPanel {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border-top: 1px solid #959596;
}

.annotationTitle {
	font-weight: bold;
}

.annotationAttributes {
	font-style: italic;
}

.annotationBody {
	
}

.newCommentHeader {
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}

.newCommentTextArea {
	
}

.newAnnotationMainPanel {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border-top: 1px solid #959596;
}

.datasetZoom {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	width: 670;
	height: 550;
}

.absoluteRight {
	float: right;
}

.debugLayout {
	border: 1px dashed #999999;
}

.centerContainer {
	display: table;
	vertical-align: middle;
}

.flowPreviewLarge {
	width: 400px;
	height: 400px;
	text-align: center;
	overflow: hidden;
}

.flowPreviewSmall {
	width: 150px;
	height: 400px;
	text-align: center;
	overflow: hidden;
}

.flowLabelLarge {
	width: 400px;
	overflow: hidden;
}

.flowLabelSmall {
	width: 150px;
	overflow: hidden;
}

.gridPreviewSmall {
	width: 120px;
	height: 100px;
	text-align: center;
	overflow: hidden;
	margin: 0px auto;
}

.gridLabelSmall {
	width: 120px;
	height: 10px;
	text-align: center;
	overflow: hidden;
}

.editHighlight {
	background: #ffff99;
	cursor: hand;
	cursor: pointer;
}

.deleteLink {
	width: 30px;
	text-align: right;
}

.tagsPanel {
	width: 100%;
	margin: 10px auto 30px auto;
	min-height: 500px;
}

.tagInPanel {
	display: inline-block;
	position: relative;
	margin: 10px;
	padding: 5px;
	zoom: 1; *
	display: inline;
	/*background-color:#f3822a;*/
}

.tagInPanel a {
	text-decoration: none;
}

.tagInPanel a:hover {
	color: #f3822a;
}

.tagLink {
	zoom: 1;
	display: inline; *
	display: inline;
}

.dataLink {
	zoom: 1;
	display: inline; *
	display: inline;
	float: left;
	padding-left: 8px;
	height: 30px;
	margin-top: 3px;
	word-wrap: break-word;
	word-break: break-all;
	line-height: 14px;
}

.tagCount {
	/*font-size: 0.9em;
  vertical-align: super;
*/
	color: #666;
	zoom: 1;
	display: inline; *
	display: inline;
}

.datasetInfoWidget {
	padding: 10px;
	margin: 10px auto 10px auto;
	vertical-align: middle;
}

.datasetInfoThumbnail {
	width: 250px;
	float: left;
}

.datasetInfoDescription {
	width: 40%;
	float: left;
	/*margin-left: 20px;
*/
}

.datasetInfoDescription table {
	margin-left: -10px;
}

.datasetInfoDescription div {
	margin-bottom: 5px;
}

.batchOperationPanel {
	float: right;
	background-color: lightgrey;
}

.batchOperationCountLink {
	color: #2F4F4F;
	font-size: 0.9em;
	margin-right: 10px;
}

.batchOperationCount {
	color: #444;
	font-size: 14px;
	margin: 5px;
	display: inline;
	zoom: 1;
	padding-bottom: 5px;
	padding-left: 10px;
}

#rssIcon {
	margin-top: 2px;
	/*margin-right: 22px;*/
	width: 20px;
	height: 20px;
}

.batchOperationMenu {
	zoom: 1;
	background: none;
	border: 0px;
	background-color: #f3822a;
	padding-bottom: 3px;
}

.batchOperationMenu:hover {
	background: #444;
	color: #f3822a;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
	font-weight: normal;
	color: #fff;
}

#progressPanel .gwt-Label {
	font: normal 14px "lato";
}

.progressBar {
	border: 1px solid;
	padding: 1px;
	width: 200px;
	margin-left: -10px;
	margin-bottom: 10px;
}

.progressBarBar {
	background-color: #0b5ca3;
	font-size: 0.5em;
}

.titlePanelRightElement {
	/*margin-right: 20px;
*/
	
}

.gwt-MenuBar .gwt-MenuItem-selected {
	background: #f3822a;
	z-index: 3;
	color: #fff;
}

.batchOperationMenu .gwt-MenuItem {
	background: transparent;
}

.batchOperationMenu .gwt-MenuItem:after {
	content: ' ▾';
}

.gwt-MenuItem-selected {
	background: #444;
}

.gwt-MenuItem-selected {
	background: #444;
}

.batchOperationMenu .gwt-MenuItem:hover {
	background: #444;
	color: #f3822a;
}

.gwt-MenuBar-vertical .subMenuIcon-selected {
	background: #f3822a;
	color: #fff;
	z-index: 3;
}

.gwt-MenuBar-horizontal .subMenuIcon-selected {
	background: #444;
	z-index: 3;
}

.gwt-MenuBarPopup {
	margin: 1px 0px 0px -1px;
	text-align: left;
}

.dynamicTable {
	width: 100%;
	margin: 10px auto;
}

.dynamicTable .content {
	width: 100%;
	margin: 0px auto;
}

.dynamicTableHeader {
	width: 100%;
	border: #CCC solid 1px;
}

.dynamicTableListCell {
	margin: 0px;
	padding: 10px;
	border-top: #CCC solid 1px;
	text-align: left;
	vertical-align: top;
}

.dynamicTableListCheckbox {
	margin: 0px;
	padding: 10px;
	border-top: #CCC solid 1px;
	text-align: right;
	vertical-align: top;
}

.dynamicTableListPreview {
	width: 150px;
	margin: 0px;
	padding: 5px;
	border-top: #CCC solid 1px;
	text-align: left;
	vertical-align: top;
}

.dynamicTableListInformation {
	width: 350px;
}

.dynamicTableListCol0 {
	width: 250px;
}

.dynamicTableListCol1 {
	width: 250px;
}

.dynamicGrid {
	width: 100%;
	vertical-align: top;
	margin: 15px auto;
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

.dynamicGridElement {
	/*border: 1px solid #CCC;*/
	margin: 5px 5px 10px 5px;
	border: 1px solid #ddd;
}

.dynamicGridSelected {
	background-color: #f1f5ff
}

.dynamicGridElementTitle {
	width: 130px;
	text-align: left;
	vertical-align: middle;
}

input[type="checkbox"] {
	font-size: 200%;
}

.selectedLeftContainer {
	margin-left: 10px;
	float: left;
	text-align: left;
	width: 50%;
}

.selectedRightContainer {
	float: right;
	width: 45%;
	margin-top: 34px;
	text-align: left;
	padding: 0px;
}

.selectedMainContainer {
	text-align: left;
}

.createRelationshipContainer {
	position: fixed;
}

.createRelationshipThumbs {
	margin-left: 2px;
}

.createRelationshipType {
	margin: 0px 10px 0px 10px;
}

.relationshipForms {
	position: relative;
}

.relationshipDatasets {
	margin-left: 85px;
}

.relationshipSubmit {
	margin: 20px 0px 0px 170px;
}

.relationshipDatasetPulldown {
	width: 140px;
}

.relationshipCreated {
	padding: 5px;
	margin: 15px 0px 0px 5px;
	background-color: #EFF5FB;
}

.relationshipHyperlink {
	margin: 0px 3px 0px 3px;
}

.relationshipDelete {
	display: none;
	height: 0px;
	clear: both;
	visibility: hidden;
}

#uploadForm {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 130px;
	filter: alpha(opacity = 0);
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}

#dropbox {
	width: 200px;
	overflow: hidden;
	position: relative;
	text-align: center;
	color: #999;
	font: normal 24px arial, helvetica, sans serif;
}

#dropzone {
	position: relative;
	height: 120px;
	border: 2px dashed #999;
}

#box {
	/*font:normal 24px arial, helvetica, sans serif;*/
	font: normal 14px "lato". helvetica;
	color: #999;
	background-color: #fff;
	width: 200px;
	border: 1px dashed #999;
	/*-webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;*/
	padding-bottom: 10px;
	text-align: center;
	vertical-align: middle;
}

#uploadLeft #box {
	padding-top: 20px;
}

#uploadLeft button {
	margin-left: 10px;
}

#list {
	width: 210px;
	font-size: 16px;
	display: block;
	margin-left: 10px;
}

.addedIMG {
	width: 100px;
	height: 100px;
}

.downloadDialog {
	margin-top: 15px;
}

.embeddedWidget {
	width: 90%;
	border: 1px dashed #A8A8A8;
	margin: 0px 0px 20px 20px;
}

.embedhtmlPreview {
	padding: 10px;
}

.embedTextArea {
	color: black;
	margin: 10px 0px 7px 0px;
}

.embedPreviewButton {
	margin-bottom: 10px;
}

.embedSizeBoxes {
	margin: 0px 3px 0px 3px;
}

.embedBoxSpacer {
	margin-right: 20px;
	margin-bottom: 15px;
}

.importTitle {
	font-weight: bold;
	margin-top: 0px;
	line-height: 24px;
	font-size: 18px;
	color: #222;
	margin-top: 10px;
	margin-bottom: 10px;
	text-rendering: optimizelegibility;
}

.importTitle:first-child {
	margin-top: 0px;
}

#options {
	font-weight: bold;
}

/* Sorted table for spreadsheet preview */
table.tablesorter {
	font-family: arial;
	background-color: #CDCDCD;
	margin: 10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}

table.tablesorter tbody tr:nth-child(odd) td {
	background-color: #F0F0F6;
}

table.tablesorter tbody tr:nth-child(even) td {
	background-color: #FFFFFF;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
	padding-right: 15px;
}

table.tablesorter thead tr .header {
	background-image: url('images/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url('images/asc.gif');
}

table.tablesorter thead tr .headerSortDown {
	background-image: url('images/desc.gif');
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp
	{
	background-color: #8dbdd8;
}

/*Upload page - derived data callout*/
.callout {
	background-color: #EEEEEE;
	text-align: left;
	border-radius: 6px;
	padding: 5px;
}

.derivechoice  .gwt-Label {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 100px;
}

.callout .gwt-RadioButton {
	padding-left: 20px;
}

.callout .datasetInfoDescription div {
	padding: 0px;
	margin: 0px auto 0px auto;
}

.callout .datasetInfoThumbnail {
	width: 150px;
}

.callout .imageThumbnail, .callout .pendingSmall {
	width: 100px;
	height: 100px !important;
}

/* SEAD Modification - to counter gwt defaults */
a.zocial.google, a.zocial.google:visited, a.zocial.google:hover {
	color: #FFFFFF !important;
}

/* Login page display of social login options*/
.zocial {
	width: 200px;
}

.signupForm .zocial, .loginForm .zocial {
	width: 400px;
	border-radius: 0px !important;
	border: none !important;
	background: none;
	padding: 5px;
	margin-bottom: 20px;
	text-shadow: none !important;
	display: block;
	margin: auto;
	margin-bottom: 20px;
}

.zocial.google {
	margin-top: 10px;
}

.zocial.orcid {
	background-color: #f2f2f2 !important;
}

.zocial.orcid:hover {
	color: #66cc66 !important;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
	font-weight: normal;
	color: #fff;
}

.progressBar {
	border: 1px solid;
	padding: 1px;
}

.progressBarBar {
	background-color: #0b5ca3;
	font-size: 0.5em;
}

.titlePanelRightElement {
	/*margin-right: 20px;*/
	
}

.gwt-MenuBar .gwt-MenuItem-selected {
	background: #f3822a;
	z-index: 3;
	color: #fff;
}

.batchOperationMenu .gwt-MenuItem {
	background: transparent;
}

.batchOperationMenu .gwt-MenuItem:after {
	content: ' ▾';
}

.gwt-MenuItem-selected {
	background: #444;
}

.gwt-MenuItem-selected {
	background: #444;
}

.batchOperationMenu .gwt-MenuItem:hover {
	background: #444;
	color: #f3822a;
}

.gwt-MenuBar-vertical .subMenuIcon-selected {
	background: #f3822a;
	color: #fff;
	z-index: 3;
}

.gwt-MenuBar-horizontal .subMenuIcon-selected {
	background: #444;
	z-index: 3;
}

.gwt-MenuBarPopup {
	margin: 1px 0px 0px -1px;
	text-align: left;
}

.dynamicTable {
	width: 100%;
	margin: 10px auto;
}

.dynamicTable .content {
	margin: 0px auto;
}

.dynamicTableHeader {
	width: 100%;
	border: #CCC solid 1px;
}

.dynamicTableList {
	width: 98%;
	border: #CCC solid 1px;
	vertical-align: top;
	margin: 20px auto 20px auto;
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

.dynamicTableListCell {
	margin: 0px;
	padding: 10px;
	border-top: #CCC solid 1px;
	text-align: left;
	vertical-align: top;
}

.dynamicTableListCheckbox {
	width: 10px;
	margin: 0px;
	padding: 10px;
	border-top: #CCC solid 1px;
	text-align: right;
	vertical-align: middle;
}

.dynamicTableListPreview {
	width: 150px;
	margin: 0px;
	padding: 5px;
	border-top: #CCC solid 1px;
	text-align: left;
	vertical-align: top;
}

.dynamicTableListInformation {
	width: 350px;
}

.dynamicTableListCol0 {
	width: 250px;
}

.dynamicTableListCol1 {
	width: 250px;
}

.dynamicGridElement {
	/*border: 1px solid #CCC;*/
	margin: auto;
	margin-bottom: 20px;
	border: 1px solid #ddd;
}

.dynamicGridSelected {
	background-color: #f1f5ff
}

.dynamicGridElementTitle {
	width: 130px;
	text-align: left;
	vertical-align: middle;
}

input[type="checkbox"] {
	font-size: 200%;
}

.selectedMainContainer {
	text-align: left;
}

.createRelationshipContainer {
	position: fixed;
}

.createRelationshipThumbs {
	margin-left: 12px;
}

.createRelationshipThumbs tbody tr td table {
	margin-left: -30px;
}

.createRelationshipThumbs.relationshipList {
	margin-left: 30px;
}

.createRelationshipType {
	margin: 0px 10px 0px 10px;
}

.relationshipForms {
	position: relative;
}

.relationshipDatasets {
	margin-left: 85px;
}

.relationshipSubmit {
	margin: 10px -150px 0px -130px;
	padding: 5px 30px;
}

.relationshipDatasetPulldown {
	width: 140px;
}

.relationshipCreated {
	padding: 5px;
	margin: 15px 0px 0px 5px;
	background-color: #EFF5FB;
}

.relationshipHyperlink {
	margin: 0px 3px 0px 3px;
}

.relationshipDelete {
	display: none;
	height: 0px;
	clear: both;
	visibility: hidden;
}

#uploadForm {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 130px;
	filter: alpha(opacity = 0);
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}

#dropbox {
	width: 200px;
	overflow: hidden;
	position: relative;
	text-align: center;
	color: #999;
	font: normal 24px arial, helvetica, sans serif;
}

#dropzone {
	position: relative;
	height: 120px;
	border: 2px dashed #999;
}

#drop {
	position: relative;
	width: 200px;
	height: 30px;
	font-size: 16px;
}

.addedIMG {
	width: 100px;
	height: 100px;
}

.downloadDialog {
	margin-top: 15px;
}

.embeddedWidget {
	width: 90%;
	border: 1px dashed #A8A8A8;
	margin: 0px 0px 20px 20px;
}

.embedhtmlPreview {
	padding: 10px;
}

.embedTextArea {
	color: black;
	margin: 10px 0px 7px 0px;
}

.embedPreviewButton {
	margin-bottom: 10px;
}

.embedSizeBoxes {
	margin: 0px 3px 0px 3px;
}

.embedBoxSpacer {
	margin-right: 20px;
	margin-bottom: 15px;
}

/* Sorted table for spreadsheet preview */
table.tablesorter {
	font-family: arial;
	background-color: #CDCDCD;
	margin: 10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}

table.tablesorter tbody tr:nth-child(odd) td {
	background-color: #F0F0F6;
}

table.tablesorter tbody tr:nth-child(even) td {
	background-color: #FFFFFF;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
	padding-right: 15px;
}

table.tablesorter thead tr .header {
	background-image: url('images/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url('images/asc.gif');
}

table.tablesorter thead tr .headerSortDown {
	background-image: url('images/desc.gif');
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp
	{
	background-color: #8dbdd8;
}

/*Upload page - derived data callout*/
.callout {
	background-color: #EEEEEE;
	text-align: left;
	border-radius: 6px;
	padding: 5px;
}

.gwt-HTML {
	margin-left: 10px !important;
}

.derivechoice  .gwt-Label {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 100px;
}

.callout .gwt-RadioButton {
	padding-left: 20px;
}

.callout .datasetInfoDescription div {
	padding: 0px;
	margin: 0px auto 0px auto;
}

#sysinfo .gwt-Label {
	display: inline-block;
}

#sysinfo .gwt-Label:nth-child(odd):after {
	content: ":\00a0\00a0";
}

#sysInfo>.gwt-HTML {
	margin-left: 0px !important;
}

.gwt-Label.datasetRightColText {
	font-size: 14px !important;
	color: #444;
	line-height: 18px;
}

.gwt-Label.datasetRightColHeading {
	font-size: 18px !important;
	color: #222;
	line-height: 24px;
}

.gwt-Label.datasetRightColText_Value {
	word-break: break-all;
}

.updated {
	background-color: green;
}

.update-failure {
	background-color: red !important;
}

.roleManagement .gwt-Button {
	margin-top: 10px;
}

#weightedtaglist {
	display: none;
}

#headercolorlabel {
	margin-left: 0px !important;
}

#suggestUsers {
	margin: 5px;
	float: left;
	width: inherit;
}

//
Simple User Management Page

.sectionTitle {
	font-size: 24px;
	margin-bottom: 10px;
}

.user, .userTableHeader {
	display: inline-block;
}

.user>div, .userTableHeader .gwt-Label:nth-child(odd) {
	display: inline-block;
	width: 250px;
	margin-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.userTableHeader {
	font-weight: bold;
}

.user>select, .userTableHeader .gwt-Label:nth-child(even) {
	display: inline-block;
	width: 150px;
	margin-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.userTableHeader .gwt-Label:nth-child(even) {
	padding-left: 5px;
	width: 145px;
}

.user {
	border: 1px solid #888888;
}

.user.Admin, .user.Admin select {
	color: blue;
}

.user.Author, .user.Author select {
	color: black;
}

.user.Viewer, .user.Viewer select {
	color: limegreen;
}

.user.Unassigned, .user.Unassigned select {
	color: orange;
}

.user.Inactive, .user.Inactive select {
	color: darkgrey;
}

.user.filter {
	display: none;
}

.sectionTitle {
	font-size: 24px;
	margin-bottom: 10px;
}

.anongroup {
	margin-bottom: 40px;
}

.anongroup .gwt-RadioButton {
	margin-left: 20px;
}

.filtergroup {
	margin-bottom: 10px;
	margin-left: 20px;
}

.filtergroup .gwt-RadioButton {
	margin-right: 20px;
}

.permissions .gwt-Label {
	color: blue;
}

.publishbutton {
	background-color: #f3822a;
	max-width: 175px;
	padding: 5px 5px 5px 10px;
	color: white;
	margin-top: 0px;
	margin-bottom: 5px;
}

.publishbutton:hover {
	background-color: black;
	color: #f3822a;
}

.publishbutton-down {
	background-color: #0b5ca3;
}

.pidpanel a {
    display: block;
    margin-left: 5px;
}