body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #E3E3E3;
	text-align: center;
}

.redBorder {
	border: 1px solid red;
}

.background {
	background-color: #E3E3E3;
}

.hidden {
	display: none;
}

.invisible {
    visibility: hidden;
}

.whiteText {
	color: white;
}

.relativePosition {
	position: relative;
}

.clearBoth {
	clear: both;
}

.inline {
	display:inline;
}

.pageHeader {
	background: #002B55;
	padding: 0px;
	margin: 0px;
	border-bottom: #888888 solid 1px;
}

.mainMenu {
	width: 975px;
	height: 50px;
	margin: 0px auto 0px auto;
	padding: 0px;
	text-align: left;
}

.menuElementLeft {
	float:left;
	padding: 10px;
	position: relative;
	height: 50px;
	margin-top: 10px;
}

.menuElementRight {
	float:right;
	padding: 10px;
	position: relative;
	height: 50px;
	margin-top: 10px;
}

.logo {
	float: left;
    color: white;
    text-align: left;
    width: 100px;
    font-weight: bold;
    font-size: 1.2em;
}

.additionalInformation {
	width: 90%;
	margin-left: 10px;
}

.addMetadata {
	width: 100%;
	padding: 5px;
	margin: 10px 0px 10px 0px;
	background-color: #EFF5FB;
}

.metadataTable {
	margin: 10px;
	border-collapse: collapse;
}

.metadataTableCell {
	padding: 5px;
}

.metadataTableEvenRow {
	background-color: #F2F2F2;
}

.metadataTableOddRow {
}

.gwt-DisclosurePanel-closed {
	background-color: #F2F2F2;
}

.gwt-DisclosurePanel-open .header {
	background-color: #F2F2F2;
}

.labeledListBoxTitle {
	margin: 5px;
}

.labeledListBoxPulldown {
	margin: 5px;
}

.loginMenu {
	float: right;
	width: 200px;
	text-align: right;
	color: white;
	white-space: nowrap;
}

.signupPanel div {
	float: right;
}

.signupLink:link {
	color: white;
	text-decoration: none;
}

.signupLink:visited {
	color: white;
	text-decoration: none;
}

.signupLink:hover {
	color: white;
	text-decoration: underline;
}
	
.loginMenu div {
	float: left;
}

.loginMenuLink:link {
	color: white;
	text-decoration: none;
}

.loginMenuLink:hover {
	color: white;
	text-decoration: underline;
}

.navMenu {
	position: relative;
	padding-left: 100px;
}

.navMenuLink:link {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin: 5px;
}

.navMenuLink:visited {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin: 5px;
}

.navMenuLink:active {
 	color: white;
}

.navMenuLink:hover {
	color: white;
	text-decoration: underline;
}

.navMenuLink a:link {
	font-family: Arial, Helvetica, sans-serif;
	/**color: #069;**/
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin: 5px;
}

.navMenuLink a:visited {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin: 5px;
}

.navMenuLink a:active {
 	color: white;
}

.navMenuLink a:hover {
	color: white;
	text-decoration: underline;
}

.smallText {
    font-size: 0.8em;
}

.tooltip {
	color: white;
	font-size: 0.8em;
}

.toolbar {
	width: 975px;
	background-color: #069;
	margin: 0px auto 0px auto;
	padding: 0px;
}

.uploadMainPanel {
	width: 100%;
	padding: 20px;
}

.centered {
	text-align: center;
	margin: 5px auto 5px auto;
}

.mainContainer {
	text-align: center;
	minHeight: 600px;	
	width: 975px;
	border: solid 1px #888888;
	margin: 20px auto 20px auto;
	padding: 0px;
	background-color: white;
}

.pagingWidget {
	line-height: 24px;
}

.pagingButton  {
	font-size: 0.9em;
	vertical-align: middle;
}

.pagingButton:hover {
    cursor: pointer;
    cursor: hand;
}

.page {
	float: none;
	width: 100%;
	text-align: center;
	minHeight: 600px;
	margin: 0px;
	padding: 5px;
}

.homePageWidget {
	float: left;
	border: 1px #002B55 solid;
	margin: 50px;
	padding: 50px;
	vertical-align: top;
}

.twoColumnLayout {
	float: none;
}

.twoColumnLayout-leftCol {
	float: left;
}

.twoColumnLayout-rightCol {
	width: 250px;
	float: right;
}

.twoColumnLayoutColumn {
	float: left;
}

.usersTable {
	width: 800px;
	margin: 20px auto 100px auto;
}

.textBoxWatermark {
	font-style: italic;
	color: gray;	
}

.pageForm {
	margin: 20px auto 100px auto;
}

.feedbackMessage {
	width: 50%;
	margin: 5px auto 5px auto;
	padding: 5px;
	background: #FFFCCA;
}

.loginForm {
	margin: 20px auto 100px auto;
}

.loginError {
	padding: 5px;
	background: #FFFCCA;
}

.titlePanel {
    width: 100%;
    padding: 10px;
}

.pageTitle {
  	font-size: 1.5em;
    color: black;
}

.rssIcon {
    width: 1em;
}

.bottomMenu {
	background-color: #E3E3E3;
	width: 975px;
	margin: 20px auto 20px auto;
	padding: 10px;
	text-align: left;
}

.clearFloat {
	clear: both;
}

.borderDebug div {
	border: 1px solid red;
}

.titleLabel {
	text-align:left;
	font-size: 1.5em;
  	color: black;
  	margin: 20px;
}

.datasetsPager {
	width: 700px;
	margin: 5px auto 5px auto;
	}

.datasetTable {
	width: 700px;
	border: #CCC solid 1px;
	vertical-align: top;
	margin: 20px auto 20px auto;
	padding: 0px;
	border-spacing:0px;
	border-collapse: collapse;
}

.datasetTable .topRow {
	font-weight: bold;
	margin: 0px;
	padding: 8px;
	background:#FFF url(images/sprites-t1.gif) repeat-x 0px -545px;
	height: 30px;
	text-align: center;
}

.datasetTable .cell {
	margin: 0px;
	padding: 8px;
	border-top: #CCC solid 1px;
	text-align: center;
}

.datasetTable .leftCell {
	width: 40%;
	margin: 0px;
	padding: 8px;
	border-top: #CCC solid 1px;
	text-align: center;
}

.datasetTable .rightCell {
	margin: 0px;
	padding: 8px;
	border-top: #CCC solid 1px;
	text-align: left;
}

.datasetTable .evenRow {
	color: black;
	background-color: #F6F9ED;
	height: 50px;
}

.datasetTable .oddRow {
	color: black;
	height: 50px;
}

.alignRight {
	position: relative;
	float: right;
}

.datasetSocialPanel {
	width: 100px;
}

.datasetRightColHeading {
	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
	font-size: 1.5em;
	font-family: arial,verdana,sans-serif;
	text-align: left;
	/**background: #EC8E00;**/
}

.datasetRightColSection {
	width:100%;
	padding: 0px;
	margin: 20px 5px 20px 5px;
	text-align: left;
}

.gallery {
	width: 350px;
	padding: 10px;
	margin: 5px auto 5px auto;
	border: 1px solid gray;
	}
	
.galleryPager {
	margin: 5px auto 0px auto;
}

.galleryImages div {
	padding: 5px;
	}

.collectionInfo {
	text-align: left;
	margin: 20px;
	}

.tagsView {
	width:100%;
	padding: 0px;
	margin: 20px 5px 20px 5px;
}

.tagsHeading {
	width: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
	font-size: 1.5em;
	font-family: arial,verdana,sans-serif;
}

.tagsLinks {
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 0px;
}

.tag {
	padding-left: 5px;
}

.tagsButton {
	margin: 10px;
	padding: 0px;
}

.addTags {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
}

.datasetTitle {
	font-size: 1.5em;
  	color: black;
  	margin: 20px;
  	text-align: left;
}

.datasetMainContainer {
	position: relative;
	width: 100%;
}

.datasetMainContainerLeftColumn {
	float: left;
	width: 700px;
}

.datasetMainContainerRightColumn {
	float: right;
	width: 250px;
}

.previewPanel {
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: auto;
}

.actionLink {
	margin: 10px;
}
	
.imagePreviewPanel {
	width: 500px;
	overflow: auto;
	margin: 30px;
	border: 1px solid #888888;
	margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
}

.imagePreviewNoOverflow {
	display: block;
	margin: 5px auto 5px auto;
	vertical-align: middle;
	border: 1px solid #888888;
}

.imagePreviewShortWidth {
	height: auto;
}
	
.imagePreviewShortHeight {
	width: auto;
}

.imagePreview {
	display: block;
	margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
}

.metadataPreview {
	width:100%;
	margin: 20px 0px 20px 0px;
}

.metadataEntry {
	vertical-align: middle;
	text-align: left;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

.downloadButton {
	vertical-align: bottom;
}

.downloadButtonContainer {
	width: 100%;
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	border: none;
}

.commentsView {
	height: auto;
	clear: both;
	padding: 20px;
}

.addToCollectionDialog {
	text-align: center;
	}
	
.addToCollectionDialog div {
	margin: 5px;
	padding: 5px;
	}
	
.thumbnail {
	display: block;
	cursor: pointer; 
	cursor: hand;
	margin: 5px auto 5px auto;
}

.seadragon {
	display: block;
	margin: 5px auto 5px auto;
	vertical-align: middle;
	border: 1px solid #888888;
	width: 600px;
	height: 400px;
	background-color: black;
	color: white
}

.anchorButton {
    padding: 3px;
}

/*================= Annotations / Comments ============== */
.commentsHeading {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
	font-size: 1.5em;
	font-family: arial,verdana,sans-serif;
}

.annotationMainPanel {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border-top: 1px solid #959596;
}

.annotationTitle {
	font-weight:bold;
}

.annotationAttributes {
	font-style: italic;
}

.annotationBody {

}

.newCommentHeader {
	font-weight:bold;
	margin-top: 5px;
	margin-bottom: 5px;
}

.newCommentTextArea {
	font-family: Arial, Helvetica, sans-serif;
}

.newAnnotationMainPanel {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border-top: 1px solid #959596;
}

.datasetZoom {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    width: 670;
    height: 550;
}

.absoluteRight {
    margin-right: 20px;
    float: right;
}

.debugLayout {
    border: 1px dashed #999999;
}

.centerContainer {
    display: table;
    vertical-align: middle;
}

.bigFlowCell {
    width: 400px;
    height: auto;
}

.smallFlowCell {
    width: 150px;
    height: auto;
}

.editHighlight {
    background: #ffff99;
}

.deleteLink {
    color: gray;
    width: 30px;
    text-align: right;
}