<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>dispatch</servlet-name>
		<servlet-class>edu.illinois.ncsa.mmdb.web.server.MyDispatchServiceServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>edu.illinois.ncsa.mmdb.web.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>REST Servlet</servlet-name>
		<servlet-class>edu.illinois.ncsa.mmdb.web.rest.RestServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Image Pyramid Servlet</servlet-name>
		<servlet-class>edu.illinois.ncsa.mmdb.web.rest.ImagePyramidServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>tupelo</servlet-name>
		<servlet-class>edu.illinois.ncsa.mmdb.web.server.TupeloServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Dataset</servlet-name>
		<servlet-class>
			edu.illinois.ncsa.mmdb.web.server.DatasetServiceImpl
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadBlob</servlet-name>
		<servlet-class>
			edu.illinois.ncsa.mmdb.web.server.UploadBlob
    </servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatch</servlet-name>
		<url-pattern>/mmdb/dispatch</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/mmdb/greet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>REST Servlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Image Pyramid Servlet</servlet-name>
		<url-pattern>/pyramid/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>tupelo</servlet-name>
		<url-pattern>/tupelo/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Dataset</servlet-name>
		<url-pattern>/mmdb/dataset</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadBlob</servlet-name>
		<url-pattern>/UploadBlob</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UploadBlob</servlet-name>
		<url-pattern>/mmdb/UploadBlob</url-pattern>
		<!--  this additional mapping is kludgy, but necessary for GWT -->
	</servlet-mapping>

	<!--  Servlet context listener -->
	<listener>
		<listener-class>
			edu.illinois.ncsa.mmdb.web.server.TupeloContextListener
  		</listener-class>
	</listener>

	<listener>
		<listener-class>
			edu.illinois.ncsa.mmdb.web.server.MyActionHandlersConfig
		</listener-class>
	</listener>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>mmdb.html</welcome-file>
	</welcome-file-list>

</web-app>
